<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="simInfo">
    <ion-item  ><b>countryCode</b> {{ simInfo.countryCode }}</ion-item>  
  </ion-list>
  <ion-card  *ngFor= "let card of cards" >
    <ion-card-header>
      {{card.carrierName}}
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="card.displayName=='Orange'">
        <button ion-button color="secondary" >orange code ussd</button>
        <button ion-button color="secondary" >orange code ussd</button>
    </div>
    <div *ngIf="card.displayName=='SAHELCOM'">
      <button ion-button color="secondary" >SAHELCOM code ussd</button>
      <button ion-button color="secondary" >SAHELCOM code ussd</button>
    </div>
    <div *ngIf="card.displayName=='Airtel'">
      <button ion-button color="secondary" >airtel code ussd</button>
      <button ion-button color="secondary" >airtel code ussd</button>
    </div>
    <div *ngIf="card.displayName=='Moov'">
      <button ion-button color="secondary" >moov code ussd</button>
      <button ion-button color="secondary" >moov code ussd</button>
    </div>
    </ion-card-content>
  </ion-card>
 
</ion-content>
