.fake-skeleton {
    width: 60%;
}
.divSuperieur {
     min-height: 40%;
    max-height: 40%;
    background-color: #ffce00;
}
.images {
   background-image: url("../../assets/imgs/logo-orange.png");
}
