<ion-header>
  <ion-toolbar>
    <ion-title>
      Info List
    </ion-title>
    <ion-buttons slot="end">
    
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <ion-list>
    <button ion-item (click)="AirtelcomptePage()">
      <ion-avatar item-start>
        <img src="assets/imgs/compte.png">
      </ion-avatar>
      <li class="h80"*ngFor="let p of data2">{{p['libelle']}}</li>
     <!-- <audio class="au" src="assets/audio.3gpp"autoplays controls></audio>-->
      <li class="h80"*ngFor="let p of data2">{{p['detscription']}}</li>    
    </button>
  </ion-list>
</ion-content>
